.page-layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  /* grid-template-columns: 70% 30%; */
  grid-template-rows: 70px 50px auto 50px;

  grid-template-areas:
    'header'
    'nav'
    'content'
    'footer';
    /* 'header header'
    'nav nav'
    'content sidebar'
    'footer footer'; */
}
